@import "../../../theme/index";

.cart-button {
  width: 140px;
  height: 40px;
}

.cart-button__label {
  flex: 1 0 auto;
  display: inline-flex;
  justify-content: center;
  @include text(18px, 600, $white);
}

.cart-button__separator {
  display: inline-flex;
  margin: 0 6px;
  height: 20px;
  width: 1px;
  background-color: $white;
}

.cart-button__count {
  flex: 1 1 auto;
}
