$white: #ffffff;
$black: #000000;
$grey: #161b22;
$lightGrey: #939eb2;

$background: #f4f5f7;
$background-light: #ebedfb;

$text: #2b3448;
$border: #dbdbdb;

$primary: #ff6900;
$secondary: #edf0f7;
$primary-hover: #dd5b00;

$skyBlue: #00AEFF;

$success: #19bb4f;
$warning: #ffa800;
$error: #ec4141;
$accent: #e85d43;

$outline: 1px solid #086cff;
$boxShadow: 0px 1px 5px rgba(0, 0, 0, 0.15);

// брейкпоинты
$mobile: 420px;
$mobileLarge: 660px;
$tablet: 768px;
$desktopMin: 1024px;
$desktopMiddle: 1280px;
$desktop: 1440px;

$fontFamily: 'Roboto', serif;
